.reviews{

 form {
  display: flex;
  flex-direction: column;
 }

 .reviews__help {
  width: 402px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.334;
 }

 .ant-input {
  width: 568px;
  height: 92px;
  margin-bottom: 12px;
  padding: 15px 16px;
 }

 .ant-btn {
  margin-left: 23px;
  width: 143px;
  font-size: 16px;
  line-height: 1.1875;
  padding: 16px 20px 13px;
  color: #fff;
  border-radius: 3px;
  height: 50px;
 }

 .reviews__submit {
  display: flex;
 }

 .reviews__list {
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
 }

 .review__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }

 .ant-layout-content.site-layout {
  margin-left: auto;
  margin-right : auto;
 }

 .review__item--grade {
  margin-left: 50px;
  margin-right: 85px;
 }

 .review__avatar {
  margin-right: auto;
 }

}

.ant-rate-star-first, .ant-rate-star-second {
 color: rgb(220, 222, 220);
}
